

.compsition{
    position: relative;
    &-img{
        width: 60%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.4) ;
        position: absolute;
        transition: all .2s ease-in-out;
        outline-offset: 2rem;
        &-1{
            left: 0;
            top: -2rem;
        }
        &-2{
            right: 0;
            top: 2rem;
        }
        &-3{
            left: 20%;
            top:10rem;
        }
        &:hover,
        &:focus{
            transform: scale(1.1);
            z-index: 10;
            outline: 15px solid $color-primary;
            box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.5) 
        }
    }
    
    &:hover &-img:not(:hover){
        transform: scale(.9)
    }
}