.footer{
    background-color: $color-grey-dark1;
    padding: 10rem 0;
    &-logo{
        width: 15rem;
        display: inline-block;
        > img{
            width: 100%;
        }
    }
    &-navigation{
        list-style: none;
        padding: 0;

    }
    &-list{
        display: inline-block;
        &:not(:last-child){
            margin-right: 15px;
        }
        a{
            &, &:link, &:focus{
                display: block;
                color: $color-white;
                text-transform: uppercase;
                font-size: 1.6rem;
                text-decoration: none;
                transition: all .2s ease-in-out;

                &:hover, &:focus, &:active{
                    transform: scale(1.2);
                    box-shadow: 0 1rem 2rem rgba($color-dark, .4);
                    @include backgroundClip;
                    @include lg(to right, $color-primary-light, $color-primary-dark)
                }
            }
        }
    }
    .terms{
        color: $color-white;
        font-size: 1.6rem;
    }
}